{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GDSC</title>
    <link rel="stylesheet" href="{% static 'css/regression.css' %}">
    <link rel="stylesheet" href="{% static 'css/shared.css' %}">
    <script src="/js/script.js" defer></script>
</head>
<body>
    <nav class="main-nav">
        <div class="main-nav_actual-container">
            <div class="main-nav_gdsc">
               <a href="{% url 'index' %}"><img src="{% static "images/Screenshot_2023-05-20_182351-removebg-preview.png" %}" alt="GDSC"></a>
            </div>
            <div class="main-nav_aec-container">
                <img src="{% static 'images/logo.675b2dd6.png' %}" alt="" srcset="" class="main-nav_aec-logo">
            </div>
        </div>
    </nav>
    <main>
        <!-- <div class="main_in_diff_setting_tryout"> -->
        <div class="main-div_container">
            <div class="main-div_input">
                <div class="main-div_1 common-div">
                    <h2 class="output-title">Linear Regression Input</h2>
                    <form method="post" action="{% url 'linear_reg' %}"  class="main-div_1-form">                        
                        {% csrf_token %}
                        {% for f in form %}
                            <p>{{ f.label }}</p>
                            {{ f }}
                        {% endfor %}
                        <button type="submit" class="calculate_regression">Calculate Linear Regression</button>
                    </form>
                </div>                
                {% block linreg_result %}
                {% endblock %}          
            </div>
        </div>
    </main> 
</body>
</html>